
body {
  font-family: Arial;
  margin: 0;
}

header{
    padding: 2px;
    background-color: gold;
    color: white;
    text-align: center;
}
.navbar {
    display: flex;
    background-color: rgb(67, 103, 112);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    
  }

  .navbar a {
    color: rgb(221, 224, 30);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    
    flex: 20%;
    background-color: #8eb4c5;
    padding: 0px;  
  
  }
  .main {
    flex: 80%;
    background-color: white;
    padding: 10px;
  }

  .footer {
    padding: 2px;
    text-align: center;
    background: rgb(156, 173, 175);
  }

  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }