

header{
    padding: 10px;
    background-color: gold;
    color: white;
    text-align: center;
}
.navbar {
    display: flex;
    background-color: rgb(67, 103, 112);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: rgb(221, 224, 30);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(162, 182, 184);
  }

  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }