*{
    box-sizing: border-box;
  }
  .video-js {
    width: 300px;
    height: 150px;
  }

  .vjs-fluid {
    padding-top: 56.25%
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #1b0d6bda;
    color: rgb(142, 223, 182);
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: rgb(67, 103, 112);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #944e4e;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: rgb(48, 136, 30);
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(190, 124, 124);
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }